html,body {
    width: 100%;;
    height: 100%;

}
.bx-wrapper, .bx-viewport, .slider{
    width: 100%;;
    height: 100%;
}

/* height 값 적용되려면 부모 태그들 모두 적용 해줘야함*/
.background__01{
    width:100%;
    height:100%;
    background-size: cover;
    background: url("../images/a.jpg") no-repeat center center;
}

.background__02{
    width:100%;
    height:100%;
    background-size: cover;
    background: url("../images/b.jpg") no-repeat center center;
}

.background__03{
    width:100%;
    height:100%;
    background-size: cover;
    background: url("../images/c.jpg") no-repeat center center;
}

.overlay{
    width:100%;
    height:100%;
    background: url("../images/16.png");
    position: absolute;
    top:0;
    z-index: 10;
}

.contents{
    /* 엡솔루트일때 탑,레프트 이렇게 하면 정중앙*/
    position: absolute;
    top:50%;
    left:50%;
    /*탑레프트로 부족할때 이미지 가로 크기의 절반을 빼준다*/
    margin-left: -160px;
    /*탑레프트로 부족할때 이미지 세 크기의 절반을 빼준다*/
    margin-top:-110px;
    z-index: 20;
    text-align: center;
    font-family: "Noto Sans KR",Helvetica;
}

.contents_name{
    font-size: 64px;
    font-weight: bold;
    color: white;
    margin-bottom: 25px;
}

.contents_job{
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-bottom: 50px;

}
/* li 태그 사이의 공백을 없애주는 거 */
.contents_list{
    font-size: 0;
}
.contents_list > li {
    /*블록 스타일 li태그를 인라인으로 바꿔 나란히 배치해주는 작업*/
    display: inline-block;
    width: 52px;
    height: 52px;
    /*아이콘을 정중앙에 오게 하는*/
    line-height: 52px;
    border: 1px solid white;
    border-radius: 50%;
    /*부모에서 0를 줬으니까 텍스트 보이게 하려 */
    font-size: 16px;
    margin-right: 20px;

 }
/*마지막 아이콘 밀릴필요 없으니까*/
.contents_list > li:last-child {
    margin-right: 0;

}
/* 아이콘 기본 설정 색값을 빼주는거임, */
.contents_list > li >a{
    color:white;;
}

